* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* remove o sublinhado dos links */
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #191622;
  font-family: 'DM Sans', Helvetica, sans-serif;
}

h1 {
  color: #fff;
  margin: 20px 0;
}

.neutralArea {
  width: 450px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #988aa8;
  border-radius: 20px;
  background-color: #1f1c2b;
  transition: background-color 0.2s;
}

.item {
  width: 100px;
  height: 100px;
  background-color: #0f0d16;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-radius: 20px;
  border: 1px solid #c369c6;
  font-weight: bold;
}

.item.dragging {
  opacity: 0.5;
  transition: 0.1s;
  border-radius: 50px;
}

.areas {
  width: 460px;
  display: flex;
  margin-top: 20px;
}

.areas.correct .area {
  border: 2px solid #6add5b;
  transition: 1s;
}

.area {
  width: 150px;
  height: 150px;
  border: 2px solid #988aa8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #1f1c2b;
  transition: background-color 0.2s, border 1s;
}

.hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

footer {
  position: absolute;
  bottom: 30px;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu-num,
.act {
  width: 50px;
  height: 50px;
  border: 1px solid #988aa8;
  color: #988aa8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #13111b;
  border-radius: 0.5rem;
  transition: border-radius 0.1s;
}

.menu-num:hover {
  border: 1px solid #78d1e1;
  color: #78d1e1;
  border-radius: 0.8rem;
}

.act {
  border: 1px solid #c369c6;
  color: #c369c6;
  border-radius: 0.8rem;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #988aa8;
  margin: 16px 0;
  font-weight: bold;
  font-size: 18px;
}
