* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #191622;
  font-family: 'DM Sans', Helvetica, sans-serif;
}

h1 {
  color: #fff;
  margin: 20px 0;
}

.area {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}
.area .item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
}
.item:hover {
  background-color: #13111b;
}

.item.t {
  border-top: 1px solid #988aa8;
}
.item.l {
  border-left: 1px solid #988aa8;
}
.item.r {
  border-right: 1px solid #988aa8;
}
.item.b {
  border-bottom: 1px solid #988aa8;
}

.info {
  width: 110px;
  display: flex;
  margin-top: 30px;
  border: 1px solid #6add5b;
  padding: 10px;
  border-radius: 0.5rem;
}

.infosection {
  flex: 1;
}

.infotitulo {
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
}

.infocorpo {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.pink {
  color: #c369c6;
}

.blue {
  color: #78d1e1;
}

.reset {
  border: 2px solid #988aa8;
  color: #988aa8;
  font-size: 1rem;
  font-family: 'DM Sans', Helvetica, sans-serif;
  cursor: pointer;
  background-color: #13111b;
  border-radius: 0.5rem;
  transition: color 0.2s, border 0.2s, border-radius 0.2s;
  padding: 10px;
  margin-top: 20px;
}

.reset:hover {
  color: #c66969;
  border: 2px solid #c66969;
  border-radius: 1rem;
}
